nav{
    background-color: grey;
    padding: 1rem;
    font-size: 1.5rem;
}
#active{
    border: 2px solid red;
    border-radius: 0.5rem;
    color: red;
    text-decoration: none;
}

nav a:hover{
color: blue;
border: 2px solid lightblue;
border-radius: 0.5rem;
text-decoration: none;

}

.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    /* grid-template-rows: auto auto auto; */
    border: solid 4px blue;
    justify-content: center ;
}

#product1{
border: 2px solid red;
margin-right: 1rem;
/* display: flex; */
text-align: center;
}

#product2{
border: 2px solid blue;
margin-right: 1rem;
text-align: center;

}
#product3{
    border: 2px solid purple;
    margin-right: 1rem;
    text-align: center;

}
#product4{
    border: 2px solid green;
    margin-right: 1rem;
    text-align: center;

}
#product5{
    border: 2px solid hotpink;
    margin-right: 1rem;
    text-align: center;

}
#product6{
    border: 2px solid darkblue;
    margin-right: 1rem;
    text-align: center;

}
#product7{
    border: 2px solid pink;
    margin-right: 1rem;

    text-align: center;
}
#product8{
    border: 2px solid orange;
    text-align: center;
    margin-right: 1rem;
}
#product9{
    border: 2px solid darkmagenta;
    text-align: center;
    margin-right: 1rem;
}
#product10{
    border: 2px solid lightgrey;
    text-align: center;
    margin-right: 1rem;
}
p{
    color: red;
}


@media screen and (max-width: 1080px) {
    .container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: aut auto auto;
        border: solid 4px blue;
        justify-content: center ;
    }
    img{
        width: 10rem;
    }  
    p{
    color: blue;
}
}

@media screen and (max-width: 740px) {
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: aut auto auto;
        border: solid 4px blue;
        justify-content: center ;
    }
 
}